
  #pageInicial {
    width: 80vw;
    height: 50vw;
  }

  #pageIndicator {
    width: 80vw;
    height: 80vw;
  }

  #pageBrasil {
    width: 80vw;
    height: 80vw;
  }

  #pagePeru {
    width: 80vw;
    height: 80vw;
  }

