
  #pgInicial {
    width: 80vw;
    height: 50vw;
  }

  #pgIndicador {
    width: 80vw;
    height: 80vw;
  }

  #pgBrasil {
    width: 80vw;
    height: 80vw;
  }

  #pgPeru {
    width: 80vw;
    height: 80vw;
  }

